<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <!--<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:jdbc.properties</value>-->
    <!--<value>classpath:env.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->
    <!--<bean id="property" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">-->
    <!--<property name="properties" ref="configProperties"/>-->
    <!--</bean>-->
    <!--使用spring自带的占位符替换功能-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- 允许JVM参数覆盖 -->
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <!-- 忽略没有找到的资源文件 -->
        <property name="ignoreResourceNotFound" value="true"/>
        <!-- 配置资源文件 -->
        <property name="locations">

            <list>
                <value>classpath:env.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:solr.properties</value>
                <value>classpath:rabbitmq.properties</value>
                <value>classpath:httpclient.properties</value>
            </list>
        </property>
    </bean>

    <!-- 扫描包 -->
    <context:component-scan base-package="us.rzweb"/>

    <bean class="org.apache.solr.client.solrj.impl.HttpSolrServer">
        <constructor-arg index="0" value="${solr.url}"/>
        <property name="parser">
            <bean class="org.apache.solr.client.solrj.impl.XMLResponseParser"/>
        </property>
        <property name="connectionTimeout" value="${solr.connectionTimeout}"/>
        <property name="maxRetries" value="${solr.maxRetries}"/>
    </bean>

</beans>
